/* Reset e estrutura básica */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d0977b4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}
h3{
  color: white;
}

/* Títulos e informações principais */
#info {
  display: flex;
  align-items: center;
  background-color: #1d0977;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

#info h3 {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  font-weight: 500;
  padding: 10px;
}

h3 span {
  color: #ebf596;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

/* Seletor */
#varSelect {
  /* margin: 20px 0 0 20px; */
  width: 10cm;
  padding: 10px;
  font-size: 16px;
  border: 0 solid #000000;
  border-radius: 8px;
  background-color: #0d0142;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Inputs de mínimo, máximo e ajuste */
#div_inp_minMax {/*algumas mudanças feitas aqui*/
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #e1e2e9;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

#div_inp_minMax input {/*algumas mudanças feitas aqui*/
  padding: 8px;
  font-size: 0.95rem;
  border: 1px solid #0000ff;
  border-radius: 5px;
  max-width: 120px;
}

button {/*algumas mudanças feitas aqui*/
  background-color: #0000ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 8px;
  font-size: 0.95rem;
  border: 1px solid #0000ff;
  border-radius: 5px;
  max-width: 120px;
  align-self: self-end;
}
button:hover {
  background-color: #6262f0;
}
#grafico {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-width: 600px;
}
.form-linha {/*algumas mudanças feitas aqui*/
  display: grid;
  grid-template-columns: .65fr 1fr;
  width: 100%;
  /* background-color: #5d5dfa; */
  margin-bottom: 15px;
}
.form-linha label {
  width: 80px; /* largura fixa para alinhar */
  font-weight: bold;
}
.form-linha input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}